<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.co.study.repository.SignInMapper">

	<select id="selectUserById" parameterType="string" resultType="kr.co.study.domain.Account">
		SELECT ID
			 , NAME
			 , PASSWORD
		  FROM USER
		 WHERE ID = #{id} 	 
	</select>
	
	<insert id="insertUser" parameterType="kr.co.study.web.dto.JoinDTO" >
		INSERT INTO USER (ID, NAME, PASSWORD)
		VALUES( #{id}, #{name}, #{password} )
	</insert>

</mapper>